/*
* @Author: jmbofly
* @Date:   2018-12-16 09:15:25
* @Last Modified by:   jmbofly
* @Last Modified time: 2018-12-17 02:04:00
*/
@import '~@angular/material/theming';

@import 'colors';
@import 'variables';
@include mat-core();

@mixin weather-button-theme($theme) {
	$background: get-map($theme, background);
	$foreground: get-map($theme, foreground);

	@include mat-button-theme($theme);

.cto {
	height: 50px;
	width: 100%;
	align-items: center;
}

};

.weather-button.dark {
	@include weather-button-theme($weather-dark-theme);
}

.weather-button.light {
	@include weather-button-theme($weather-light-theme);
}