/*
* @Author: jmbofly
* @Date:   2018-12-16 11:56:14
* @Last Modified by:   jmbofly
* @Last Modified time: 2018-12-17 02:04:14
*/

@import '~@angular/material/theming';
@import 'colors';
@import 'buttons';
@import 'variables';
@include mat-core();
@mixin weather-card-theme($theme) {
	@include mat-card-theme($theme);
	$background: map-get($theme, background);
	.mat-card-content {
		min-height: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: mat-color($background, card);
		margin-bottom: 16px;
		.mat-raised-button.cto {
			height: 50px;
			min-width: 50%;
		}
		.mat-mini-fab {
			background: mat-color($background, lighter-contrast);
			width: 30px;
			height: 30px;
			.mat-icon {
				font-size: 0.75%;
			}
		}
		.mat-form-field {
			background: mat-contrast($background, 200);
			justify-content: center;
		}
	}
	.mat-card-actions {
		justify-content: center;
	}
}

.hero-card.dark {
	@include weather-card-theme($hero-dark-theme);
}

.hero-card.light {
	@include weather-card-theme($hero-light-theme);
}

.weather-card.dark {
	@include weather-card-theme($weather-dark-theme);
}

.weather-card.light {
	@include weather-card-theme($weather-light-theme);
}
