@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-amber);
$accent: mat-palette($mat-light-blue);

$clr-primary-default: mat-color($primary);
$clr-primary-contrast: mat-color($primary, default-contrast);
$clr-primary-complimentary: mat-color($primary, darker-contrast);
$clr-primary-light: mat-color($primary, lighter);
$clr-primary-dark: mat-color($primary, darker);

$clr-accent-default: mat-color($accent);
$clr-accent-light: mat-color($accent, lighter);
$clr-accent-dark: mat-color($accent, darker);
