@import '~@angular/material/theming';
@import 'variables';
$first: mat-typography-config( $font-family: 'Didact Gothic, sans-serif');
$second: mat-typography-config( $font-family: 'PT Sans, sans-serif');
$primary: mat-palette($mat-teal);
$accent: mat-palette($mat-deep-orange);
$app-default-theme: mat-dark-theme($primary, $accent);
// Include theme styles for Angular Material components.
@include mat-core();
@include angular-material-theme($app-default-theme);
@include angular-material-typography($first);
@include mat-toolbar-typography($second);
@include mat-form-field-typography($second);
// Widgets
$background: get-map($primary, background);
$foreground: get-map($primary, foreground);
$accent-background: get-map($accent, background);
$accent-foreground: get-map($accent, foreground);