@import '~@angular/material/theming';
@include mat-core();
$container-position: relative;
$container-padding: 0;
$container-margin: 0 auto 16px auto;
$container-height: 100%+16;
$container-width: 100%;