<mat-toolbar color="primary" class="mat-elevation-z6">
  <button class="mat-icon-button" mat-icon-button (click)="sidenav.toggle()">
    <mat-icon class="fa fa-bars"></mat-icon>
  </button>
  <h3>{{ title }}</h3>
</mat-toolbar>
<main class="container">
  <mat-sidenav-container>
    <mat-sidenav
      #sidenav
      mode="side"
      align="start"
      closed
      [style.width]="'20%'"
    >
      Sidenav content
    </mat-sidenav>
    <!-- Body -->

    <mat-card>
      <mat-card-header>
        <mat-card-title>title</mat-card-title>
        <mat-card-subtitle>subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content> </mat-card-content>
      <mat-card-actions>
        <button mat-fab>
          <mat-icon class="mat-20 fa fa-thumbs-up"></mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-sidenav-container>
</main>
