.container {
  margin-left: 1rem;
  margin-right: 1rem;
  @media screen {
    @media (min-width: 760px) {
      margin-left: 20%;
      margin-right: 20%;
      // max-width: 60%;
    }
    @media (min-width: 1060px) {
      margin-left: 25%;
      margin-right: 25%;
      // max-width: 50%;
    }
  }
  // Section title
  .section-title {
    h1 {
      text-align: center;
      font-size: 4rem;
    }
  } // Flex-Box row-container
  .row-container {
    min-height: 240px;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: distribute;
    justify-content: space-between;
    margin-bottom: 1rem;
    // Flex-Box column container
    .col-container {
      margin: 1rem;
      width: 100%;

      flex: 3 10 10vmin; // Flex-Box responsive card
      // @media screen {
      //   @media (min-width: 760px) {
      //     width: 80%;
      //   }
      //   @media (min-width: 1060px) {
      //     width: 60%;
      //   }
      // }
      .mat-card,
      .mat-card.mat-flat-card {
        padding: 2rem;
        background-color: rgba(255, 255, 255, 0.05);
        .mat-card-header {
          padding-left: 1rem;
          padding-right: 1rem;
        }
      } // Flex-Box responsive text
      &.col-text {
        padding: 1rem;
      }
    }
  }
}


