@import '~@angular/material/theming';
@import '_variables';
@include mat-core();

$primary: mat-palette($mat-deep-orange);
$accent: mat-palette($mat-light-blue, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);

// Include theme styles for Angular Material components.
@include angular-material-theme($theme);
