/* You can add global styles to this file, and also import other style files */
@import '_theme';

html body {
  margin: 0;
}

* {
  h1,
  h2,
  h3 {
    font-family: 'Roboto Mono';
    font-weight: 900;
  }

  h4,
  h5,
  h6,
  p,
  a {
    font-family: 'Abel';
    font-weight: 100;
  }
}

.container {
  padding: 16x;
}
